@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.login-body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0b2442, #80b0d4);
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.login-box {
    width: 400px;
    padding: 30px 25px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    color: white;
    text-align: center;
    transition: transform 0.3s ease;
}

.login-box:hover {
    transform: translateY(-2px);
}

.login-title {
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 1.4px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px 15px 12px 45px;
    border: none;
    border-radius: 50px;
    outline: none;
    background: rgba(255,255,255,0.2);
    color: white;
    font-size: 16px;
}

.input-group input::placeholder {
    color: rgba(255,255,255,0.7);
}

.input-group input:focus {
    background: rgba(255,255,255,0.3);
}

.input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 18px;
}

.login-btn {
    width: 80%;
    padding: 12px;
    border-radius: 50px;
    border: none;
    background: #ffffff33;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background: #b1d3f97c;
    transform: scale(1.05);
}

.links {
    margin-top: 15px;
}

.links p {
    font-size: 16px !important;
}

.link {
    color: white;
    text-decoration: none;
    font-style: italic;
}

.link:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    margin: 0 10px;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons i:hover {
    transform: scale(1.2);
    color: #001a4e96;
}

a{
    color: #0b2442;
}